
@import "../partials/variables";
@import "../partials/mixins";



// Color palette

$bb-green--regular: #8ab98e;
$bb-green--light: #acd8af;
$bb-green--lighter: #deefe0;
$bb-green--dark: #4d8b51;

$bb-blue--regular: #618db4;
$bb-blue--light: #98bbda;
$bb-blue--dark: #375875;
$bb-blue--darker: #1f2532;

$bb-red--regular: #d46464;
$bb-red--light: #f39494;
$bb-red--dark: #a93333;

$bb-lilac--regular: #ba8aa4;
$bb-lilac--light: #d5b7c7;
$bb-lilac--dark: #9a547a;

$bb-orange--regular: #e89a48;
$bb-orange--light: #f6c087;
$bb-orange--dark: #c77722;

$bb-yellow--regular: #eed036;
$bb-yellow--light: #ffe78e;
$bb-yellow--dark: #dbb926;

$bb-grayscale--1: #222;
$bb-grayscale--2: #444;
$bb-grayscale--3: #777;
$bb-grayscale--4: #aaa;
$bb-grayscale--5: #ccc;
$bb-grayscale--6: #ddd;
$bb-grayscale--7: #eee;
$bb-grayscale--8: #f5f5f5;
$bb-grayscale--9: #f8f8f8;
$bb-white: #fff;

$bb-grayscale--10: #888;
$bb-grayscale--11: #fafafa;

// END Colors.
